
@{
    ViewBag.Title = "Home Page";
}


<main>
    <section class="container py-5 my-5 text-center">
        <h1 class="display-3 mb-4">Unlock your potential with <b style="color:#4F6F52" ;>CheckMate</b></h1>
        <p class="lead">Get things done faster and unleash your creativity with the power of <b style="color:#4F6F52";>CheckMate</b>.</p>
        <a class="btn btn-primary btn-lg" href="#" style="background-color: #4F6F52";>Download the CheckMate app</a>
    </section>

    <div class="container">
        <div class="row">
            <section class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="color:#4F6F52";>Getting Started</h2>
                        <p class="card-text text-muted">With CheckMate, users are empowered to efficiently organize tasks, set priorities, and track progress.</p>
                        <a class="btn btn-outline-dark btn-block" onmouseover="this.style.backgroundColor='#4F6F52'" onmouseout="this.style.backgroundColor='transparent';" href="@Url.Action("About", "Home")">Learn More &raquo;</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="color:#4F6F52";>View Your Tasks</h2>
                        <p class="card-text text-muted">CheckMate helps you manage your tasks efficiently. It's designed for streamlined task management.</p>
                        <a class="btn btn-outline-dark btn-block" onmouseover="this.style.backgroundColor='#4F6F52'" onmouseout="this.style.backgroundColor='transparent';" href="@Url.Action("Index", "TaskDetails")">List Tasks &raquo;</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="color:#4F6F52";>View Course Codes</h2>
                        <p class="card-text text-muted">Effortlessly manage the courses you take. Streamline your course management with ease.</p>
                        <a class="btn btn-outline-dark btn-block" onmouseover="this.style.backgroundColor='#4F6F52'" onmouseout="this.style.backgroundColor='transparent';" href="@Url.Action("Index", "CourseCodeRefs")">List Courses &raquo;</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>